/*через @font-face - локальное подключение шрифтов*/
@font-face{
font-family: 'Dancing Script';
src: url(../fonts/DancingScript-Regular.ttf) ;
}

@font-face{
font-family: FontAwesome;
src: url(../libs/fontawesome/webfonts/fa-solid-900.ttf)
}

/* через @import - подключение шрифтов на CSS-странице*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.2;

	transition: all 0.4s ease-in; /*сделали для ночной темы*/
}

 /*сделали для ночной темы*/
.night{
	background-color: black;
	color:white;

}


.wrapper{
	margin:0 auto;

	
}

#header{
background-color:#333333;
	
}

.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin:0 auto;	
	box-sizing: border-box;
}

.logo{
	background-color: #00B277;
	padding:5px 10px;
	line-height: 1;

}

.logo__main-title{
	font-size: 40px;
	text-align: center;
	
}

.logo_second-title{
text-align: center;
font-family: 'Dancing Script', cursive;
font-size: 17px;

	
}

.logo__main-title, .logo_second-title{
color: #C0C0BF;
}

               /*menu START*/


.menu__list{
    background-color: #232323;
    padding: 10px;
    
}

.menu__item{
    list-style:none;
    margin-right: 15px; 
    display: inline-block;
    
}

.menu__item:last-child{
	margin-right: 0;   /*убрал праввый отступ у последней ссылки*/
}

.menu__link{
    text-decoration:none;
    color:#C0C0BF;;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 16px;
    
    
}

.menu__link:hover{
text-decoration: underline;

}

      		/* main section START*/

#main{
max-width: 1170px;
margin:30px auto;	
}

.main__wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-sizing: border-box;
	max-width: 100%;

}

			/* main__left-block START*/

.main__left-block{
	max-width: 40%;
	background-color: #DEDEDD;	
	font-family: 'Dancing Script', cursive;
	padding:5px 20px;
	box-sizing: border-box;	

}	

.main__left-block-title{
	font-size: 50px;
	font-weight: bold;
	color: #A1A3A1;
 
}

.readmore{
	color: #F7C696;
	font-size: 20px;
	line-height: 2px;
	text-decoration:none;
	text-align: right;
	padding: 10px 10px 30px 0px;
	font-family: 'Dancing Script', cursive;
	
}

.readmore:hover{
	text-decoration:underline;
	cursor: pointer;
	font-size: 23px;
}

.readmore-wrapper{
	text-align: right;
}

.readmore:after{
    font-family: FontAwesome;
    content: "\f105";
    display:inline-block;
    padding-left: 2px;
    vertical-align: middle;
    font-weight: 400;
  
}


			/* main__right-block START*/
			
.main__right-block{
max-width: 60%;
background-color:#333333;
color:#C0C0BF;
box-sizing: border-box;
padding:25px 20px;


}

			/* section articles START*/

.articles{
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.article__title{
	text-transform:uppercase;
	font-size:1.2rem;
}

.left-article, .middle-article{
	
	box-sizing: border-box;
	margin-right:30px;
	
}


.square{
	width: 70px;
	height: 70px;
	background-color: #333333;
	float: left;
	margin-right:12px;
	text-align:center;/* выровнил текст в квадрате по ценру по горизонтале*/
	line-height: 70px;/* выровнил текст в квадрате по ценру по вертикале*/
	color:  #DEDEDD;/* section articles START*/
	transition: 0.4s ease-in-out;

}

.square:hover{
	border-radius: 50%;
	background: linear-gradient(#333333,#636363);
	transition: 0.4s ease-in-out;
}


.square span:hover{
	color:#a1a3a1;
}
			/* section pictures START*/

.pictures{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin:40px auto;	
	box-sizing: border-box;

}

.pictures__block{
	width: 215px;
	height: 100px;

}

.pictures__block-img{
	
	width: 215px;
	height: 100px;
	box-sizing: border-box;
	position: relative;
  	z-index: 1;
    background: linear-gradient(#333333,#636363);
	transition: 0.5s ease-in-out;
}

/* сделал внутреннюю рамку пунктиром*/
.pictures__block-img:after{

  content: "";
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: #C0C0BF dashed 1px;

  }

.pictures__block-img:hover{
	transform:      scale(1.1); /* CSS3 */
 -moz-transform:    scale(1.1); /* Firefox */
 -webkit-transform: scale(1.1); /* Webkit */
 -o-transform:      scale(1.1); /* Opera */
 -ms-transform:     scale(1.1); /* IE 9 */
  box-shadow: -7px 8px 19px -4px #808080;

}


			/* FOOTER START*/

#main{
	margin-bottom: 250px;
}			

#footer{
background-color:#333333;	

}

.container{
	padding: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin:0 auto;	
	box-sizing: border-box;
}

.footer__copy, .footer__description  {
    font-size: 0.875rem;
    color: #cecece;
    margin-left: -40px;
    margin-top:-20px;
    
     
}

.footer__description{
    margin-right:-40px;
       
}


@media (max-width:1200px){
	.footer__copy,.footer__description,.pictures__block{
		padding-left: 10px;
    	padding-right: 10px;
	}

}


